package auth

import "github.com/Evalua-Tu-Profe/etp-api/cmd/web"

templ LoginPage(loginForm LoginFormProps) {
	@web.Base("Iniciar Sesión") {
		<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
			<div class="sm:mx-auto sm:w-full sm:max-w-sm">
				<h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight">Iniciar Sesión</h2>
			</div>
			@LoginForm(loginForm)
		</div>
	}
}
