package web

import "github.com/Evalua-Tu-Profe/etp-api/cmd/web/components"

type HomeProps struct {
	IsAuthenticated bool
}

templ Home(props HomeProps) {
	@Base("Evalua Tu Profe") {
		@components.Navbar(props.IsAuthenticated)
	}
}
