package components

import "github.com/Evalua-Tu-Profe/etp-api"

templ RatingsList(ratings []*etp.ProfessorRating, count int) {
	<div class="flex flex-col gap-4">
		for _, rating := range ratings {
			<div>{ rating.Grade } </div>
		}
	</div>
}
